[submodule "lang-cond-task-adv-augmentation/control-net"]
	path = lang-cond-task-adv-augmentation/control-net
	url = https://github.com/lllyasviel/ControlNet.git
[submodule "lang-cond-task-adv-augmentation/LLaVA"]
	path = lang-cond-task-adv-augmentation/LLaVA
	url = https://github.com/haotian-liu/LLaVA.git
[submodule "ADE20K"]
	path = ADE20K
	url = https://github.com/CSAILVision/ADE20K.git
[submodule "lang-cond-task-adv-augmentation/ADE20K"]
	path = lang-cond-task-adv-augmentation/ADE20K
	url = https://github.com/CSAILVision/ADE20K.git
[submodule "lang-cond-task-adv-augmentation/MaskDINO"]
	path = lang-cond-task-adv-augmentation/MaskDINO
	url = https://github.com/IDEA-Research/MaskDINO.git
